<center>
    <h1>
            Introduction to Python
    </h1></center><p><p>

<h3>Lesson zero</h3>

25/02/2019

fabio.grassi@aalto.fi

# -0.1: Python 2 vs 3, and a few words about Jupyter Notebooks

### Python 2 vs. 3

There are two main versions of Python: 2 and 3. This course will focus on Python 3, but unfortunately it is quite likely that you will be using Python 2. We will try to upgrade your version to Python 3, but meanwhile, we can make 2 behave like 3 by using the following command at the beginning of our notebook:

    from __future__ import absolute_import, division, print_function
    
The differences between 2 and 3 are small, but significant. You do not need to concern yourself with them for now.

### Jupyter Notebooks

Jupyter Notebooks are a modular environment for programming in several different languages (e.g. Python, R). The distinctive feature of Jupyter Notebooks is that it enables users to run isolated blocks of code, instead of having to run a whole script or program from start to finish. This can be extremely useful during data exploration, or if your script is over 1000 lines long and you only wish to test a small section of your code.

You can select a cell by clicking on it. When in edit mode, the frame surrounding the cell will be green. If you press **"esc"**, the frame will turn blue: you can now navigate to other cells using the arrow keys, and you can create new cells above or below the selected one by pressing **"a"** (for "above") or **"b"** (for "below"). Cells can also be removed: this is done by pressing the **"x"** button, which is equivalent to "cut". **Please note that there is no undo button**: a cut cell can still be pasted by pressing **"v"**, but only the last cut cell is kept in memory, so if you cut two cells, the previous one will be unrecoverable.

Cells can either contain code or text. To switch, you can either press **"m"** (for text/Markdown) and **"y"** (for code), or you can just click on the drop down menu to the right the "fast forward" (>>) symbol and select **"Code"** or **"Markdown"**. At any time, you can also click on the rightmost button and view a complete list of all available keyboard shortcuts.

In order to run a cell, you can press either **Ctrl + Enter** or **Shift + Enter**. The only difference is that Shift + Enter will automatically move you to the next cell.

Below is a brief summary table:

| Command  | Result  |
|:-:|:-:|
| a  | Create new cell (above) |
| b  | Create new cell (below) |
| c  | Copy selected cell |
| x  | Cut selected cell |
| v  | Paste selected cell |
| m  | Switch to Markdown |
| y  | Switch to code |
| Ctrl+Enter  | Run selected cell |
| Shift+enter  | Run selected cell and move to the one below |

# 0.0: Hello World

Historically, every programming course begins with a program that simply prints "Hello World!" to the screen. Below are some examples taken from https://en.wikibooks.org/wiki/Computer_Programming/Hello_world.

### Hello world program in different programming languages

### C++:

    #include <iostream>
    
    int main(){
        std::cout << "Hello, World!" << std::endl;
        return 0;
    }

### Java:
    
    public class HelloWorld extends java.lang.Object{
     public HelloWorld();
      Code:
       0:   aload_0
       1:   invokespecial   #1; //Method java/lang/Object."<init>":()V
       4:   return
     public static void main(java.lang.String[]);
      Code:
       0:   getstatic       #2; //Field java/lang/System.out:Ljava/io/PrintStream;
       3:   ldc     #3; //String Hello, world!
       5:   invokevirtual   #4; //Method java/io/PrintStream.println:(Ljava/lang/String;)V
       8:   return
     }
    
### ArnoldC:

    IT'S SHOWTIME
    TALK TO THE HAND "Hello, World!"
    YOU HAVE BEEN TERMINATED
    
### Brainfuck:
    
    ++++++++[>++++[>++>+++>+++>+<<<<-]>+>+>->>+[<]<-]>>.>---.+++++++..+++.>>.<-.<.+++.------.--------.>>+.>++.

One of the reasons Python became so popular is that it was designed to be **easy to read**. Here is the same program in Python:

In [1]:
print("Hello World!")

Hello World!

Just one line of code, and it reads like English. **print()** is a **function** that prints a value to the screen. The value is called the **argument** of the function. In our case, the argument is the sentence "Hello World!".

    print("Hello World!")
    _____ _____________
      ^           ^
      |           |
    function   argument

We will look at functions later, but for now, just know that some functions take no arguments, some functions take a fixed number of arguments, and some can take as many arguments as you want. The **print()** function can take any number of arguments. Had we been so inclined, we could have achieved the same goal in a slightly different way:

In [2]:
print("Hello", "World!")

Hello World!

Notice that this time we passed the words one by one instead of together, separated by a comma. Though not particularly interesting in this case, this property can be extremely useful, as we will see very soon.

## 0.1: Variables

As is common with programming languages, in Python you can store values as variables. This is done by declaring the variable's name, followed by the equals sign, and then the value we wish to assign to it. The variable can then be called using its variable name, as shown below.

In [3]:
mystring = "Hello World!"

print(mystring)

mystring2 = "How much wood would a woodchuck chuck if a woodchuck could chuck wood?"

print(mystring2)

Hello World!
How much wood would a woodchuck chuck if a woodchuck could chuck wood?

Along with a name and a value, a variable is also defined by a **type**. A type determines what kind of operations can be performed with a certain variable. The variables we defined above are **str**, which is short for **string**. This can be verified using the *type* statement:

In [4]:
type(mystring)

str

Here are some more examples of variables, with different types.

In [5]:
myint = 2

myfloat = 2.5

mybool = False

mylist = [0, "one", True]

mydict = {"thank you":"kiitos", 10:True}

mytuple = (3.14, 6.022*10**23, 6.626*10**(-34))

Let us use the *print* statement to display the types of the variables we just declared.

In [6]:
print(type(myint))
print(type(myfloat))
print(type(mybool))
print(type(mylist))
print(type(mydict))
print(type(mytuple))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

A quick description of the types we just saw:

**int**: integers (0, 1, -2, 3...)

**float**: floating point numbers (2.718, 3.142...)

**bool**: True or False

**list**: this one is very important. Enclosed between square brackets, [], a list is an ordered collection of items, which can be accessed by referencing their position within the list itself. Note that the items do not need to be of the same type. More on lists in a moment.

**dict**: also quite important. A dict, or dictionary, is also a collection of items within curly brackets, {}, which can be accessed via their name within the dictionary. Again, items do not need to be all of the same type. More on dictionaries soon.

**tuple**: this is essentially the same as a list, but between round brackets, (), and with the one notable difference that it **cannot be modified**. 

There are of course other variable types, and you can even define your own, but these are by far the most common ones. 
<br>
<br>


### Exercise:

Declare some variables and print them.


<br>
<br>
<br>
<br>


Let's look at some examples of what we can do with them.

In [7]:
a = 4
b = 2.0
c = "I love " # Mind the space at the end! By the way, this is a comment. Comments can be placed anywhere, using the # sign.
d = 'Python' # Notice that you can use both single and double quotes for strings.
e = ["I","REALLY","love","Python"]

In [8]:
# Addition:
addition = a+b

print(addition, "\n") # The second argument, "\n", tells Python to go to a new line.

# Subtraction:
print(a-a, "\n")

# Multiplication:
mult = b*b
print(mult, "\n")

# Division:
print(a/a, "\n")

# Exponentiation (i.e. a to the power of b):
print(a**b, "\n")

6.0

0

4.0

1.0

16.0

Notice how operations involving int and float will return a float. Now let's look at something a little different:

In [9]:
print(c)
print(d)
print(c + d)

I love
Python
I love Python

The addition operator also works on strings: c + d returns the "sum" of the two strings which were assigned variable names c and d. What happens if we try to subtract one string from another?

In [10]:
print(c - d)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In this case, Python informs us that we have a **TypeError**: the operation we tried to perform (subtraction) is not supported between strings. Let's try a few more:

In [11]:
print(c*a)

I love I love I love I love

Remember, variable a was assigned value 4. By saying c * a, we are telling Python that we want string c to be repeated 4 times, which is exactly what it did. What happens if we multiply by b, which was assigned value 2.0?

In [12]:
print(b * c)

TypeError: can't multiply sequence by non-int of type 'float'

Again, we run into a **TypeError**: we cannot multiply a string by a float. As you can probably guess, the same thing would happen if we tried to divide a string by either an int or a float.

Another interesting thing we can do with strings is split them into single words. This can be achieved by calling the **split()** method:

In [13]:
print(c)
print(c.split())

I love
['I', 'love']

When we use the **split()** method, Python automatically segments the string into words by cutting wherever it finds a space, and it returns the isolated words as a **list**.

In [14]:
c.split()

['I', 'love']

## 0.2: Lists

Let's now look at the last variable we defined in our previous example, variable e:

In [15]:
print(e)

['I', 'REALLY', 'love', 'Python']

Variable e is a **list**. You can tell by the square brackets. As mentioned before, lists are collections of objects. Each object can be called separately by typing the list's name, followed by its **index** (that is, its position within the list) enclosed in square brackets:

In [16]:
print(e[0]) # First item is always zero!
print(e[1])
print(e[2])
print(e[3])

I
REALLY
love
Python

Sometimes, you may wish to access lists backwards, i.e. counting from the last item. This can be done very easily. Suppose I wanted to use the last item, second to last, third to last... in my list, I would use the same syntax as above, but I would use the minus sign for the index:

In [17]:
print(e[-1])
print(e[-2])
print(e[-3])
print(e[-4])

Python
love
REALLY
I

Note that while the first item is accessed with index 0, the last item is **not** accessed with -0, but rather -1. This is because, arithmetically, 0 and -0 are the same, and so e[-0] refers to the same object as e[0].

Let's now look at another list:

In [18]:
newstring = "money money money must be funny in the rich man's world"
newlist = newstring.split()
print(newlist)

['money', 'money', 'money', 'must', 'be', 'funny', 'in', 'the', 'rich', "man's", 'world']

Lists come with several built-in methods. To view them, you can type the name of your list, followed by a dot, and then press tab. One such method is **"count"**. If we wanted to know how many times the word "money" appears in our string, we could do the following:

In [19]:
print(newlist.count("money"))

3

Suppose we wanted to look at the first three elements in the string. We could select each one individually, newlist[0], newlist[1], newlist[2].

Another possibility is to use a slice:

In [20]:
print(newlist[5])
newlist[0:3]

funny

['money', 'money', 'money']

Notice the syntax: instead of a single index number, we specified the first index number to look for, followed by the colon sign, and the index number at which we wanted to stop. In our case, we wanted index items 0, 1, and 2, so we stop at 3, thus newlist[0:3].

Here, we included 0 for clarity, but you should know that, when we want to slice from the beginning of a list, the 0 can be omitted. So newlist[0:3] can also be written as newlist[:3].

We can also do this using reverse indexing:

In [21]:
newlist[-5:-2]

['in', 'the', 'rich']

And, again, if we want to slice until the last element, we can simply omit the last value, e.g. [-5:]:

In [22]:
newlist[-5:]

['in', 'the', 'rich', "man's", 'world']

As we mentioned earlier, a list can contain different types of items. This includes lists themselves:

In [23]:
# Do not worry too much about the indentation for now. 
# Jupyter Notebooks will take care of it automatically - just don't change it.

list_of_lists = [["first inner list",True], 
                 ["second inner list",99,["inner list within second list",1,2]]]

Should we want to access individual items in this list, we would use the following notation:

In [24]:
print(list_of_lists[0][0])
print(list_of_lists[0][1])
print(list_of_lists[1][0])
print(list_of_lists[1][1])
print(list_of_lists[1][2][0])
print(list_of_lists[1][2][1])
print(list_of_lists[1][2][2])

first inner list
True
second inner list
99
inner list within second list
1
2

Suppose we now wanted to know how many items our list contains. We could count them ourselves, but it would be tedious. A simpler way to do it is to use **len()**:

In [25]:
anotherlist = [10,20,30,40]
print(len(anotherlist))

4

The len() function informs us that the list we just created is 4 items long.

We can also perform certain operations with lists.

In [26]:
somelist = [1,2,3]
anotherlist = ["one","two","three"]
print(somelist + anotherlist)

[1, 2, 3, 'one', 'two', 'three']

As you can see, if we use the "+" operator on two lists, we obtain a new list which includes all the elements of the first two lists, in the order in which they appear. Let us try something else now:

In [27]:
someint = 2
print(somelist * someint)

[1, 2, 3, 1, 2, 3]

If we multiply a list by an integer, we get a list that is obtained by repeating the original one by a number of times equal to the integer (in our case, 2).

Another interesting thing we can do with lists is **zipping**. Let us assume we have one list with the names of some students, and another list with their grades, and we wanted to match them. We could do this easily with the **zip()** function, as shown below:

In [28]:
students = ["Robert","Adele","Alice","Frank"]
grades = [75,88,84,97]
print(list(zip(students,grades)))

[('Robert', 75), ('Adele', 88), ('Alice', 84), ('Frank', 97)]

Note that the zip() function returns a zip() object, so we have to manually convert it to a list: print(**list(**zip(...)

In [29]:
zip(somelist, anotherlist)

Often when dealing with lists, we may need to sort the values with them. This can be done in two ways: we can use the **sorted()** function, or we can use the **sort()** function. The differences are illustrated below:

In [30]:
anotherlist = [3,1,2,4]
sortedlist = sorted(anotherlist,reverse=False)
print(sortedlist)
print(anotherlist)

[1, 2, 3, 4]
[3, 1, 2, 4]

In [31]:
yetanotherlist = ["b","a","d","c"]
yetanotherlist.sort(reverse=False)
print(yetanotherlist)

['a', 'b', 'c', 'd']

In the first example, we used the **sorted()** function, which took our list as an argument (this means that we put the list's name inside the curved brackets). When we printed the outcome, we saw that the list had indeed been sorted, but when we then printed the original list, we could see that it had not been changed: **the sorted() function does not modify the original list**.

In the second example, we used **sort()**, which is a built-in method of lists. Unlike sorted(), this method does not return another list, instead, **it alters the original list directly**, and should therefore be used wisely.

In both cases, we used the (optional) argument "reverse=False". This tells the sorting function that we want the items arranged in ascending order. Had we used "reverse=True", the lists would have been sorted in descending order. The default option is reverse=False, so if no reverse option is specified, the lists will be arranged in ascending order.

Often we may have to change some items within a list. Maybe we wish to multiply one of the items by 10. This is easily accomplished:

In [32]:
alist = [10,20,30,40]
print(alist)
alist[0] = alist[0] * 10
print(alist)

[10, 20, 30, 40]
[100, 20, 30, 40]

Another common operation is adding items to a list. This is done using the **append()** method:

In [33]:
alist.append(50)
print(alist)

[100, 20, 30, 40, 50]

### Exercise:

Create a list of lists, and access each item separately.

## 0.3 Dictionaries

As we saw before, dictionaries are similar to lists, in that they are collections of objects, however, instead of being ordered or numbered, they are each assigned a name, or **key**, and it is through that key that the items can then be accessed, using the same syntax as with lists (i.e. dictname[]):

In [34]:
somedict = {"check" : 1, "one" : False, "two" : True}
print(somedict)
print(somedict["check"])
print(somedict["one"])
print(somedict["two"])

{'check': 1, 'one': False, 'two': True}
1
False
True

If we wished to access the keys and the values separately, we could do so using the **keys()** and **values()** methods:

In [35]:
print(somedict.keys())
print(somedict.values())

dict_keys(['check', 'one', 'two'])
dict_values([1, False, True])

And if at any time we wished to add another item to our dictionary, we could do so simply by assigning a value to a new key in the dictionary:

In [36]:
somedict["some new key"] = "some new value"
print(somedict)

{'check': 1, 'one': False, 'two': True, 'some new key': 'some new value'}

### Optional Exercises:

#### Exercise 1:

Define three variables with the following values: 

* "Aalto" 
* 2
* 0.5

Remember the syntax is:

    variable_name = 12345

In [1]:
a = "Aalto"
b = 2
c = 0.5

#### Exercise 2:


Do some basic arithmetic with your variables (add, subtract, multiply, divide), e.g.:

    print(variable1 + variable2)

In [2]:
print(a*2)
print(b+c)
print(b*c)
print(b/c)
print(a+a)

AaltoAalto
2.5
1.0
4.0
AaltoAalto

#### Exercise 3:

Declare some new variables by converting 2 to **float** and to **str**, then 0.5 to **int** and to **str**, and finally 0.5 and Aalto to **int**. The correct syntax is:

    somefloat = 1.234
    converted = str(somefloat)

In [3]:
d = float(2)
e = str(2)
f = int(0.5)

In [24]:
print(d,e,f)

2.0 2 0

In [23]:
int(a)

ValueError: invalid literal for int() with base 10: 'Aalto'

#### Exercise 4:

Given the following list

mylist = [2, 8, 1, 3, 1, 13, 21, 5]

* access the first, second, and last item in the list
* declare a new variable, call it *second_item*, and assign it the value of the second item in the list (remember we count from 0, so the second item has index 1). The syntax is

    newvariable = somelist[indexnumber]
* Calculate the length and the sum of the list using functions len() and sum()
* Now change the value of the second item in the list, with this syntax:

    somelist[indexnumber] = newvalue

* Print the values of the second_item variable, and of the list item you just modified. What do you notice?
* Now change back the second item to 2, then order the list in ascending order.

In [26]:
mylist = [2,8,1,3,1,13,21,5]

In [27]:
mylist[0]

2

In [28]:
mylist[1]

8

In [29]:
mylist[-1]

5

In [30]:
mylist[-2]

21

In [31]:
print(len(mylist))
print(sum(mylist))

8
54

In [12]:
second_item = mylist[1]
mylist[1] = mylist[1] + 1
print(second_item, mylist[1])

8 9

In [13]:
mylist[1] += -1

In [32]:
sortedlist = sorted(mylist)

In [14]:
mylist.sort()
print(mylist)

[1, 1, 2, 3, 5, 8, 13, 21]

#### Exercise 5:

Given the following lists:

names = ["Frank","Adele","Mark","Bridget"]

grades = [79,86,89,82]

* declare a new variable called *zipped*, and assign as value the result of zipping the two lists
* convert *zipped* to a list and store the value in a new variable called *zipped_list*
* print *zipped_list*
* convert *zipped* to a dictionary and print it. What differences do you notice?

In [16]:
names = ["Frank","Adele","Mark","Bridget"]

grades = [79,86,89,82]

zipped = zip(names, grades)

zipped_list = list(zipped)

print(zipped_list)

print(dict(zipped))

[('Frank', 79), ('Adele', 86), ('Mark', 89), ('Bridget', 82)]
{}

In [17]:
dict(zip(names,grades))

{'Frank': 79, 'Adele': 86, 'Mark': 89, 'Bridget': 82}

In [33]:
z = zip(names,grades)
print(list(z))
print(list(z))

[('Frank', 79), ('Adele', 86), ('Mark', 89), ('Bridget', 82)]
[]